th {
	text-align: center;
}

/*.college-list {
	height: 100%;
}*/

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
 }

.myGrid {
	width: 100%;
	height: 100%;
}

body .content {
	height: 100%;
}

.collegeButton {
	width: 100%;
}

.panel-heading, .panel-body {
	text-align: center;
}